/* CSS custom properties / CSS variables */

:root {
  --darkmagenta: #8b008b;
  --green: #008000;
  --magenta: #ff00ff;
  --royalblue: #4169e1;
  --teal: #008080;
  --violet: #9400d3;
}

/* Use attribute selectors for the first part of the exercise */

li[class] {
  color: var(--green);
}

li[class="dog"] {
  color: magenta;
}

li[id="cat"] {
  color: teal;
}

li[class="parrot"] {
  color: green;
}

li[class="donkey"] {
  color: royalblue;
}

li[class="hedgehog"] {
  color: magenta;
}

li[class="cat dog parrot"] {
  color: royalblue;
}

/* Use descendant, child, and sibling selectors for the second part */

section li {
  color: green;
}

.first ~ li {
  color: magenta;
}

.second + li {
  color: royalblue;
}
